---
title: Slide Buttons
styles: components/button.scss
maturity: ready
---
<p>
    <span>Left:</span>
    <button class="btn slide left nostate"></button>
    <button class="btn slide left todo"></button>
    <button class="btn slide left doing"></button>
    <button class="btn slide left done"></button>

    <span>Right:</span>
    <button class="btn slide right nostate"></button>
    <button class="btn slide right todo"></button>
    <button class="btn slide right doing"></button>
    <button class="btn slide right done"></button>
</p>
<p>
    <button class="btn slide left nostate"></button>
    <span>Example Content Task with State ToDo</span>
    <button class="btn slide right doing"></button>
</p>
<p>
    <button class="btn slide left todo"></button>
    <span>Example Content Task with State Doing</span>
    <button class="btn slide right done"></button>
</p>
<p>
    <button class="btn slide left doing"></button>
    <span>Example Content Task with State Done</span>
    <button class="btn slide right nostate"></button>
</p>