---
title: Slide Buttons
styles: components/button.scss
maturity: ready
---
<p>
    <span>Left:</span>
    <button class="btn slide left"></button>
    <button class="btn slide left todo"></button>
    <button class="btn slide left doing"></button>
    <button class="btn slide left done"></button>

    <span>Right:</span>
    <button class="btn slide right"></button>
    <button class="btn slide right todo"></button>
    <button class="btn slide right doing"></button>
    <button class="btn slide right done"></button>
</p>
<p>
    <button class="btn slide left"></button>
    <span>Example Content Task with State ToDo</span>
    <button class="btn slide right doing"></button>
</p>
<p>
    <input type="button" class="btn slide left todo">
    <span>Example Content Task with State Doing</span>
    <input type="button" class="btn slide right done">
</p>
<p>
    <input type="button" class="btn slide left doing">
    <span>Example Content Task with State Done</span>
    <input type="button" class="btn slide right">
</p>