---
title: Task Status Buttons
styles: components/_button.scss
maturity: ready
---
<p>
    <button class="btn status nostatus">No Status</button>
    <button class="btn status todo">ToDo</button>
    <button class="btn status doing">Doing</button>
    <button class="btn status done">Done</button>
</p>
<p>
    <input type="button" class="btn status nostatus" value="No Status">
    <input type="button" class="btn status todo" value="ToDo">
    <input type="button" class="btn status doing" value="Doing">
    <input type="button" class="btn status done" value="Done">
</p>