---
title: Task
styles: components/_task.scss
maturity: ready
---

<div class="task">
    <button class="btn slide left todo"></button>
    <section class="content">
        <div class="top">
            <div class="subject">Interaction Design</div>
            <button class="btn status doing">Doing</button>
        </div>
        <h4>Create Individual Screen Design for Home Screen</h4>
        <div class="bottom">
            <div class="icons">
                <img src="../../../assets/images/icons/icon-weblink.svg" alt="weblink">
                <img src="../../../assets/images/icons/icon-group.svg" alt="group">
                <img src="../../../assets/images/icons/icon-attachment.svg" alt="attachment">
            </div>
            <div class="duedate">Monday, 25.01.2021</div>
        </div>
    </section>
    <button class="btn slide right done"></button>
</div>